# You can change your environmental values here
# Adjust the values before the first Docker startup

# App
APP_PORT=8081

# Database connection
DB_ROOT_PASSWORD=root
DB_USER=prestashop
DB_PASSWORD=dbpassword

# Admin panel credentials
ADMIN_MAIL=admin@example.com
ADMIN_PASSWORD=Admin123!